{% include 'user_registration/base.html' %}
{% load static %}


{% block body %}
<div class='quiz-view'>
<h1>Category: {{ category.name }}</h1>
<p>Description: {{ category.description }}</p>

<p id='timer'></p>
</div>
{% comment %} {% url 'quiz:submit_quiz' category_id=category.id %} {% endcomment %}
<form method="POST" action="">
    {% csrf_token %}
        <h3>Quiz category: </h3> 
        <p>{{ quiz.category }}</p>
        <h3>Quiz duration: </h3> 
        <p>{{ quiz.duration }} seconds</p>
        <h3>Quiz continuable: </h3>
        <p>{{ quiz.continuable }}</p>

        <h2>Quiz questions</h2>
        {% for question in list_of_questions %}
          <p>{{ forloop.counter }}. {{ question }}</p>
        {% endfor %}
        <br>
    <input type="submit" value="Update quiz"/>
</form>

<form method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete quiz"/>
</form>


<script>
   
    function handleQuizSubmission(categoryId, userScoreId, duration) {
      const timerElement = document.getElementById("timer");
      let timeRemaining = duration;
    
      function updateTimer() {
        const minutes = Math.floor(timeRemaining / 600);
        const seconds = timeRemaining % 60;
        timerElement.textContent = `Time Remaining: ${minutes}:${seconds
          .toString()
          .padStart(2, "0")}`;
    
        if (timeRemaining <= 0) {
          alert("Time's up!");
          submitQuiz();
        } else {
          timeRemaining--;
          setTimeout(updateTimer, 1000);
        }
      }
      function submitQuiz() {
        const form = document.getElementById("quiz-form");
        form.submit();
      }

      document.addEventListener("DOMContentLoaded", function () {
        updateTimer();
      });
    }
 
    const categoryId = {{ category.id }};
    const userScoreId = {{ user_score_id }};
    const duration = {{ category.time }};
    

    document.addEventListener("DOMContentLoaded", function () {
      handleQuizSubmission(categoryId, userScoreId, duration);
    });
  </script>  
  
{% endblock %}